p { text-align: center;
}
h1 { text-align: center;
  font-size: 45px;
}
body { background-color: rgba(132, 157, 241, 0.849);;
}

h2 { text-align: left;
  font-size: 45px;
}
h3{
  position: absolute;
  right: 0px;
  bottom: 0px;
}
button {
  background-color: white;
  border: 2px solid black;
  border-radius: 24px;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}
button:hover {
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
  inset 2px 2px 3px rgba(0, 0, 0, .6); }

h1 {
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 50%;
    margin: 0;
  }
.border{
    overflow: hidden;
    background-color: rgb(255, 250, 250);
    width: 650px;
    border-radius: 25px;
    border: 15px solid #B00B69;
    padding: 50px;
    transform: scale(.8);
    margin: auto;
    margin-top: -60px;
    
    }